.header {
  position: fixed;
  min-height: 112px;
  display: flex;
  align-items: center;
  top: 0;
  right: 0;
  left: 0;
  z-index: 99;
}

.changeColor {
  background: var(--n50);
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu,
.links {
  display: flex;
  align-items: center;
  gap: 40px;
}

.logo {
  display: flex;
  align-items: center;
  gap: 12px;
  font-family: var(--font-satoshi-bold);
}

.link {
  color: var(--n400);
  transition: all 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.link:hover {
  color: var(--n950);
}

.button {
  font-size: 12px;
}

.burger {
  width: 44px;
  height: 44px;
  background-color: blue;
  display: none;
}

@media (max-width: 768px) {
  .menu {
    border: none;
    display: none;
    flex-direction: column;
    position: absolute;
    top: 112px;
    left: 0;
    right: 0;
    bottom: 0;
    align-items: center;
    padding: 80px;
    background-color: var(--n50);
    box-shadow: 0px 64px 64px 0 rgba(15, 15, 15, 0.1);
    z-index: 99;
    min-height: calc(100vh - 104px);
    transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }

  .menu.active {
    display: flex;
  }

  .links {
    flex-direction: column;
  }

  .burger {
    display: block;
    position: relative;
    margin-left: 40px;
    width: 32px;
    height: 32px;
    background: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }

  .burger.active:before {
    transform: translateY(0) rotate(-45deg);
  }

  .burger.active:after {
    transform: translateY(0) rotate(45deg);
  }

  .burger:before,
  .burger:after {
    content: "";
    position: absolute;
    top: 16px;
    left: 6px;
    width: 20px;
    height: 2px;
    background: var(--n950);
    border-radius: 2px;
    transition: transform 0.2s;
  }

  .burger:before {
    transform: translateY(-4px);
  }

  .burger:after {
    transform: translateY(3px);
  }
}
